In [1]:
import pandas as pd

In [2]:
gdw = pd.read_csv('../file/wu_alias/wu_alias.csv')

In [3]:
gdw.head()

,user_signon_id,wa,email
0,FLAUX1905@476006,B88BFE19-723E-49F9-AC37-8C81DF885C0E,LordJustice.Flaux@ejudiciary.net
1,MAGBITANG2883@476006,9B182C8D-1A28-4ABE-A8F7-139FFE95FB23,alexandra.magbitang@ejudiciary.net
2,PHILLIPS7577@476006,A6F5FE61-2714-441D-A5BD-425352608DAB,DJ.Marshall.Phillips@eJudiciary.net
3,MCUSH@DCA,a52045c9-a71c-4bdc-a34b-32ea73bc5c7d,NaN
4,JPRATT@DCA,5658099b-dbaa-4940-8282-4b124bc29fb0,NaN

In [56]:
gdw_copy = (gdw.fillna(0)
 .assign(fre = lambda x: x.groupby('user_signon_id')['wa'].transform('count'))
)

In [21]:
gdw_copy['fre'].unique()

array([1, 2])

In [53]:
gdw_copy.drop(index = gdw_copy.index[(gdw_copy['fre']>1) & (gdw_copy['email']==0)],axis=0,inplace = True)

In [54]:
gdw_copy

,user_signon_id,wa,email,fre
0,FLAUX1905@476006,B88BFE19-723E-49F9-AC37-8C81DF885C0E,LordJustice.Flaux@ejudiciary.net,1
1,MAGBITANG2883@476006,9B182C8D-1A28-4ABE-A8F7-139FFE95FB23,alexandra.magbitang@ejudiciary.net,1
2,PHILLIPS7577@476006,A6F5FE61-2714-441D-A5BD-425352608DAB,DJ.Marshall.Phillips@eJudiciary.net,1
3,MCUSH@DCA,a52045c9-a71c-4bdc-a34b-32ea73bc5c7d,0,1
4,JPRATT@DCA,5658099b-dbaa-4940-8282-4b124bc29fb0,0,1
...,...,...,...,...
13098,103855@DCA,0,0,1
13099,AMEADOWS@DCA,0,0,1
13100,100089@DCA,0,0,1
13101,101889@DCA,0,0,1
13102,VWOOLF@DCA,0,0,1

In [57]:
gdw_copy[(gdw_copy['fre']>1) & (gdw_copy['email']==0)]

         user_signon_id                                    wa email  fre
8135  MELLOR3545@476006  99034853-EC22-451D-AC7D-3F35678B8980     0    2